<!DOCTYPE html>
<html ng-app="assistantApp" ng-csp>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="lib/js/angular.min.js" type="text/javascript"></script>    
    <link rel="stylesheet" type="text/css" href="lib/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="lib/css/angular-csp.css" />
    <script src="common.js" type="text/javascript"></script> 
    <script src="assistant.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="common.css" />
    <style>
      body { min-width: 500px;}
    </style>
  </head>

  <body ng-controller="AssistantController">

    <ng-include src="'partials/header.html'"></ng-include>

    <div id="content">

      <h3>Candidate CSS selectors</h3>

      <p>
        <label><input type="radio" name="selectorType" value="" ng-model="selectorFilter.shared" />all</label>
        <label><input type="radio" name="selectorType" value="true" ng-model="selectorFilter.shared" />only common</label>
      </p>
      <p>
        <span ng-repeat="s in styles | filter:selectorFilter">
          <!--<span ng-if="$index > 0"> | </span>-->
          <label class="astSelector" ng-class="{selectorPresent: s.present}"><input type="checkbox" ng-model="s.selected" />
          {{s.name}}</label>
        </span>
      </p>

      <span ng-show="hideNodes == true"><a href="#" ng-click="hideNodes = false">show node details</a></span>

      <div ng-hide="hideNodes == true">
        <a href="#" ng-click="hideNodes = true">hide node details</a>

        <h3>Node<!-- <a style="float: right" ng-click="removeLink(nodes[nodeIndex])"><i class="fa fa-trash-o"></i></a> --></h3>
       
        <select ng-model="nodeIndex">
          <option ng-repeat="n in nodes" value="{{$index}}">{{n.url}}</option>
        </select>

        <h3 style="clear: both">Node hierarchy</h3>
        <ol>
          <li ng-repeat="n in nodes[nodeIndex].nodes" ng-hide="n.shared &amp;&amp; excludeCommonNodes">
            <a class="astNode" ngclick="clickNode(nodes[nodeIndex], n)" ng-mouseenter="hoverNode(nodes[nodeIndex], n)" ng-mouseleave="hoverNode()">{{n.name}}
              <span ng-show="showSelectors" ng-repeat="(k, s) in n.styles" class="astNodeSelector"><span ng-if="$index > 0"> | </span>{{k}}</span>
              <span style="xpath" ng-show="showXPath"><br />{{n.xpath}}</span></a>
          </li>
        </ol>
        <p>
          <label><input type="checkbox" ng-model="excludeCommonNodes" /> exclude common parent nodes</label><br />
          <label><input type="checkbox" ng-model="showSelectors" /> show selectors</label><br />
          <label><input type="checkbox" ng-model="showXPath" /> show Xpath</label><br />
        </p>
      </div>

<!--

    	<h3>Add link..</h3>

	    <label>URL</label>
	    <input type="text" ng-model="url" />

	    <label>Host</label>
	    <input type="text" ng-model="host" />

	    <label>Path</label>
	    <input type="text" ng-model="path" />
-->

	</div>

  </body>
</html>