body, html
{
	font-family: Tahoma, Arial;
	font-size: 10pt;	
	margin: 0px;
	padding: 0px;
}

h1
{
	font-size: 12pt;
	border-bottom: solid 1px #333;
}

h2
{
	font-size: 10pt;
	border-bottom: solid 1px #999;
}

h3
{
	font-size: 10pt;
}

/* ****** options ****** */

#saved
{
	color: green;
	font-weight: bold;
}

/* ****** details stats ****** */

#list
{
  padding-left: 0px;
}

#list li
{
  list-style-type: none;
}

/*
label
{
  white-space: nowrap;
}*/

.colorBox
{
  border: solid 1px black;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

/* ****** details stats ****** */

#stats, #opts, #content
{
  padding: 0px 16px 0px 16px;
  clear: both;
}

#header
{
  padding: 16px;

  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(204,204,204,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );

  height: 64px;
}

#logo
{
  float: left;
  max-width: 72px;
  margin-top: -4px;
}

#subtitle
{
	display: block;
}

#title
{
  font-weight: bold;
  display: block;
}

#headExtra
{
	display: block;
	margin-top: 10px;
	font-size: 7pt;
}

#opts
{
  padding-bottom: 8px;
}

a
{
  color: #333;
  /*text-decoration: none;*/
  /*border-bottom: 1px dotted #999;*/
}

a:hover
{
  /*
  color: #666;
  border-bottom-style: none;
  background-color: #eee;
  */
}

.optsImage
{
  max-width: 14px;
  vertical-align: text-bottom;
  /*
  filter: saturate(0);
  -webkit-filter: saturate(0.5);
  */
}

#rulesTab label
{
  margin-top: 8px;
  display: block;
}

#rulesTab input[type=text], #rulesTab textarea
{
  width: 100%;
}

#rulesTab textarea
{
  max-width: 100%;
  min-width: 100%;
}

table.rules
{
  width: 100%;
  border-collapse: collapse;
}

table.rules th
{
  text-align: left;
}

table.rules tr
{
  width: 100%;
}

#rulesTab details summary
{
  /* font-weight: bold; */
}

#rulesTab details > details > summary
{
  border-bottom: solid 1px #999;
}

#rulesTab > details[open]
{

}

#rulesTab p
{
  margin-bottom: 10px;
}

#rulesTab details > details
{
  margin-top: 10px;
  margin-left: 10px;
}

#opts i.fa
{
  width: 12px;
  text-align: center;
  margin-right: 8px;
}

#tabs-container
{
  margin-top: 16px;
}

input[type=button]
{
  width: 100px;
  margin-right: 8px;
}

input[type=button]:hover
{
}

.hint
{
  border-bottom: 1px dotted #999;
  font-style: italic;
}

.tab-content > h3:first-of-type, .tab-content > span > h3:first-of-type
{
  margin-top: 0px;
  padding-top: 0px;
}